[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.13"
graphene-django = "==3.0.0b7"
django-filter = "==21.1"
django-graphql-jwt = "==0.3.4"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
